<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SistemaVentasDB" 
         connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=SistemaVentasDB;Integrated Security=true;TrustServerCertificate=true;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
