# Node
node_modules/
.next/
npm-debug.log*

# .NET
bin/
obj/
*.user
*.suo
*.cache

# VS
.vs/
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log
startup.log

# Auth sessions
.wwebjs_auth/
sumatra/

# Config local
appsettings.Development.json

# Build output
api-publish*/
app-publish/
TestBuild/

# Ngrok
ngrok.exe
ngrok.zip
